# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
savegame.json
debug_*.py
test_*.py

# EXE / Packaging
build/
dist/
*.spec
*.exe

tools/upload_release.py
tools/release_v1_6_1.py
tools/release_v1_6_2.py
tools/upload_v1_6_3.py
*.zip
dist/
build/
